.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

#mainpage {
  width: 50vw;
}

#alldocs {
  width: 50vw;
  display: flex;
  background-color: burlywood;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
}

.listitem {
  height: 60px;
  border-radius: 2rem;
  font-size: 2rem;
}

#choosefile {
  height: 40px;
  width: 300px;
  font-size: 1rem;
}

#submitbtn {
  height: 40px;
  width: 80px;
  border-radius: 1rem;
  font-size: 1rem;
}
